<launch>

  <param name="/use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="rosbag" output="screen" args="--clock $(find main)/scenarios/robot_vision_1_complete.bag"/>

  <include file="$(find laserscan)/launch/laser.launch"/>
  <include file="$(find leg_detector)/launch/leg.launch"/>
  <include file="$(find main)/launch/main.launch"/>

  <arg name="head_tracking_frame" default="kinect_link"/>

  <node name="base_footprint_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /odom /base_footprint 100"/>

  <node name="any_transform" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 /base_footprint /any_frame 100"/>

  <rosparam param="mf">["/kinect_link", "/any_frame"]</rosparam>

  <node pkg="attention_tracker" type="estimate_focus" name="estimate_focus" output="screen"/>

  <node pkg="attention_tracker" type="estimate" name="head_pose_estimation" output="screen">
    <param name="mode" value="rosbag" />
    <param name="face_model" value="$(find attention_tracker)/share/shape_predictor_68_face_landmarks.dat" />
    <remap from="/image" to="/camera/image_raw"/>
  </node>

</launch>
